.userCards {
    background-color: aquamarine;
    margin-bottom: 10px;
    border: solid 1px black;
    padding: 20px;

}

.userCards h2 {
    font-size: 20px;
}

.userCards p {
    color: gray;
    font-size: 14px;
}